# shebang
snippet #! she-bang including coding.
	#!/usr/bin/env python
	# -*- coding: ${1:utf-8} -*-
	
	${2:# code}
# from module import stuff
snippet from from module import *
	from ${1:module} import ${2:*}
